<!-- <p>login works!</p> -->
<h1>Login</h1>

<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <label>Email or Mobile <span style="color: red;">*</span></label>
      <input type="text" formControlName="emailOrMobile" required />
      
      <label>Password <span style="color: red;">*</span></label>
      <input type="password" formControlName="password" required />
      
      <button kenoButton type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
  