<!-- 
  <h1>Form Configuration</h1>
  <div class="configuration-container">
  <kendo-grid [data]="gridView" 
  [reorderable]="true" 
  (rowReorder)="onReorder($event)"
  >

  <kendo-grid-column title="Show Field" >
  <ng-template kendoGridCellTemplate let-dataItem>
  <label class="checkbox-container">
  <input type="checkbox" [checked]="dataItem.show" (change)="updateFieldVisibility(dataItem)" />
  <span class="checkmark"></span>
  </label>
  </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="name">
    <ng-template kendoGridHeaderTemplate>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column title="Required Field">
  <ng-template kendoGridCellTemplate let-dataItem>
  <label class="checkbox-container">
  <input type="checkbox" [checked]="dataItem.required" (change)="updateFieldRequirement(dataItem)" [disabled]="!dataItem.show"/>
  <span class="checkmark"></span>
  </label>
  </ng-template>
  </kendo-grid-column>
  </kendo-grid>


  <div class="button-container">
  <button kendoButton (click)="saveConfiguration()">Save Changes</button>
  </div>
  </div> -->
<!-- *********************************** -->



 <!-- correct one-->
  <!-- <h1>Form Configuration</h1>
<div class="configuration-container">
  <table>
    <thead>
      <tr>
        <th>SHOW FIELD</th>
        <th></th>
        <th>REQUIRED FIELD</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let field of fields; let i = index">
        <td>
          <label class="checkbox-container">
            <input
              type="checkbox"
              [checked]="field.show"
              (change)="updateFieldVisibility(field)"
            />
            <span class="checkmark"></span>
          </label>
        </td>
        <td class="names">{{ field.name }}</td>

        <td>
          <label class="checkbox-container">
            <input
              type="checkbox"
              [checked]="field.required"
              (change)="updateFieldRequirement(field)"
              [disabled]="!field.show"
            />
            <span class="checkmark"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="button-container">
    <button kendoButton (click)="saveConfiguration()">Save Changes</button>
  </div>
</div> -->

<!-- correct -->



<h1>Form Configuration</h1>

<div class="configuration-container">
  <table>
    <thead>
      <tr>
        <th>SHOW FIELD</th>
        <th></th>
        <th>REQUIRED FIELD</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let field of fields; let i = index" 
        draggable="true"
        (dragstart)="onDragStart(i, $event)" 
        (dragover)="onDragOver($event)" 
        (drop)="onDrop(i, $event)"
      >
        <td>
          <label class="checkbox-container">
            <input 
              type="checkbox" 
              [checked]="field.show" 
              (change)="updateFieldVisibility(field)" 
              [attr.aria-label]=" 'Toggle visibility for'+ [ field.name ]"
            />
            <span class="checkmark"></span>
          </label>
        </td>

        <td class="names">{{ field.name }}</td>
        <td>
          <label class="checkbox-container">
            <input 
              type="checkbox" 
              [checked]="field.required" 
              (change)="updateFieldRequirement(field)" 
              [disabled]="!field.show"
              [attr.aria-label]="'Toggle required for'+ [ field.name ]"
            />
            <span class="checkmark"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="button-container">
    <button kendoButton (click)="saveConfiguration()">Save Changes</button>
  </div>
</div>



<h1>varsha</h1>
<h2>change</h2>
