header {
  display: flex;
  justify-content: flex-end; // Aligns the nav to the right
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  // border-color: black;
// body {
//   background-color: white;
// }

  nav {
    display: flex;
    gap: 15px; // Adds space between the links
    background-color: white;
    
    // border-color: black;

    a {
      text-decoration: none;
      // color: #007bff;
      color: black;
      font-weight: bold;
      padding: 5px 10px;
      border: 1px solid black;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      // border-color: black;


      // &:hover {
      // //   background-color: #e9ecef;
      // background-color: black;
      // color: white;
      // }

      &.active {
        color:white;
        background-color: black;
      }
    }
  }
}


.registration-container {
    max-width: 200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
   
    .form-field {
      margin-bottom: 15px;
      // margin-top: 50px;
  
      label {
        display: block;
        margin-bottom: 5px;
        // font-weight: bold;
      }
      kendo-textbox, kendo-textarea {
        width: 100%;
      }
  
      .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }
    }

    // .button-container button{
    //     display: flex;
    //     justify-content: center;
    //     background-color: black;
    //     color: white;
    //     justify-content: center;
    //     width: 99%;
    //     // border-radius: 9%;
    // }
    .button-container {
      display: flex;
      justify-content: center;
  
      button {
        background-color: black;
        color: white;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
  
        &:hover {
          background-color: #333;
        }
  
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }

}

  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
    font-size: 50px;


  }