
<h1>Set Password</h1>

 <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
   
   <label>New Password:</label>
   <kendo-textbox
     type="password"
     formControlName="newPassword">
   </kendo-textbox>
   <div *ngIf="passwordForm.controls['newPassword'].invalid && passwordForm.controls['newPassword'].touched">
     <small>Password must be at least 10-15 characters.</small>
   </div>
 
   <label>Confirm Password:</label>
   <kendo-textbox
     type="password"
     formControlName="confirmPassword">
   </kendo-textbox>
   <div *ngIf="passwordForm.errors?.['mismatch']">
     <small>Passwords do not match!</small>
   </div>
 
   <button kendoButton type="submit" [disabled]="passwordForm.invalid">Submit</button>
 </form>
 