// h1 {
//     text-align: center;
//     font-size: 24px;
//     margin-bottom: 20px;
//   }

h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
    margin-top: 150px;
  
  }
  
  form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  kendo-textbox {
    width: 100%;
    margin-top: 5px;
  }
  
  small {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }
  
  button {
    width: 100%;
    margin-top: 15px;
    background-color:black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;

    // font-family: 'Times New Roman', Times, serif;

  
    &:hover {
      background-color: #333;
        }
  
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  